<div class="container w-75">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-body">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                <img src="http://placehold.it/150x150" id="imgProfile" class="img-thumbnail"/>
                <div class="middle">
                  <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change"/>
                  <input type="file" style="display: none;" id="profilePicture" name="file"/>
                </div>
              </div>
              <div class="ml-3">
                <h4>Логин: {{authorizedUser.login}}</h4>
                <h5>Email: {{authorizedUser.email}}</h5>
              </div>
              <div class="float-right">
                <button *ngIf="authorizedUser.role == 'Admin'" class="btn btn-primary"
                        (click)="modalService.openModal(addSubscript)">Добавить подписку
                </button>
              </div>

            </div>
            <div class="row mt-2">
              <div class="col-12">
                <tabset>
                  <tab heading="Сменить логин">
                    <label for="form1" class="mt-1">Введите новый логин:</label>
                    <input type="text" id="form1" class="form-control w-25 mt-1" name="login" [(ngModel)]="newLogin"
                           #login="ngModel" required pattern="[a-zA-Z0-9_]{3,30}">
                    <div [hidden]="login.untouched || login.valid" class="alert alert-danger w-25">
                      Вы ввели неверный логин
                    </div>
                    <div [hidden]="newLogin != authorizedUser.login" class="alert alert-danger w-25">
                      Вы ввели нынешний логин
                    </div>
                    <button class="btn btn-primary mt-3" [disabled]="login.invalid" (click)="changeLogin()">Сменить
                      логин
                    </button>
                  </tab>
                  <tab heading="Сменить пароль">
                    <label for="form2" class="mt-1">Введите старый пароль:</label>
                    <input type="password" id="form2" class="form-control w-25 mt-1" name="oPassword"
                           [(ngModel)]="oldPassword"
                           #oPassword="ngModel" required pattern="[a-zA-Z0-9_]{3,30}">
                    <div [hidden]="oPassword.untouched || oPassword.valid" class="alert alert-danger w-25">
                      Вы ввели неверный пароль
                    </div>
                    <label for="form3" class="mt-1">Введите новый пароль:</label>
                    <input type="password" id="form3" class="form-control w-25 mt-1" name="nPassword"
                           [(ngModel)]="newPassword"
                           #nPassword="ngModel" required pattern="[a-zA-Z0-9_]{3,30}">
                    <div [hidden]="nPassword.untouched || nPassword.valid" class="alert alert-danger w-25">
                      Вы ввели неверный пароль
                    </div>
                    <div [hidden]="newPassword != oldPassword || oPassword.untouched || nPassword.untouched"
                         class="alert alert-danger w-25">
                      Вы ввели одинаковые пароли, чего в принципе быть не может
                    </div>
                    <button class="btn btn-primary mt-3"
                            [disabled]="oPassword.invalid ||  nPassword.invalid || newPassword == oldPassword"
                            (click)="changePassword()">Сменить
                      пароль
                    </button>
                  </tab>
                  <tab heading="Сменить email">
                    <label for="form4" class="mt-1">Введите новый email:</label>
                    <input type="text" id="form4" class="form-control w-25 mt-1" name="email"
                           [(ngModel)]="newEmail"
                           #email="ngModel" required pattern="[a-zA-Z0-9_.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}">
                    <div [hidden]="email.untouched || email.valid" class="alert alert-danger w-25">
                      Вы ввели неверный email
                    </div>
                    <div [hidden]="newEmail != authorizedUser.email" class="alert alert-danger w-25">
                      Вы ввели нынешний email
                    </div>
                    <button class="btn btn-primary mt-3" [disabled]="email.invalid" (click)="changeEmail()">Сменить
                      email
                    </button>
                  </tab>
                </tabset>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #addSubscript>
  <app-add-subscript></app-add-subscript>
</ng-template>


