<div class="modal-header">
  <h4 class="modal-title pull-left">Подписаться</h4>
  <button type="button" class="close pull-right"
          aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group justify-content-center">
    <label for="exampleFormControlSelect1">Выберите billing account, на который хотите добавить подписку:</label>
    <select class="form-control w-25" id="exampleFormControlSelect1"
            [(ngModel)]="selectedBillingAccount">
      <option *ngFor="let billingAccount of authorizedUser.billingAccounts"
              [ngValue]="billingAccount">{{billingAccount.name}}</option>
    </select>
  </div>
  <div *ngIf="selectedBillingAccount.id">
    <h6>Имя аккаунта: {{selectedBillingAccount.name}}</h6>
    <h6>Баланс: {{selectedBillingAccount.balance}}</h6>
    <h6>Статус: {{selectedBillingAccount.active ? "Активировано" : "Заблокировано"}}</h6>
    <h6>Всего подписок на аккаунте: {{getSelectedBASubscriptsLength(selectedBillingAccount)}}</h6>
  </div>
  <h6>Подписка: {{selectedSubscript.name}}</h6>
  <h6>Стоимость подписки: {{selectedSubscript.price}} RUB
    /{{selectedSubscript.period}} д.</h6>
  <p></p>

  <button type="button" class="btn btn-primary d-none d-lg-inline-block mt-2 mb-3"
          [disabled]="isSelectedBAIdUndefined(selectedBillingAccount) ||
           !selectedBillingAccount.active ||
            !isBalanceMoreThanSubscribePrice(selectedSubscript, selectedBillingAccount)" onClick="this.disabled = true"
          (click)="saveActiveSubscript(selectedSubscript, selectedBillingAccount)">
    Добавить подписку в выбранный
    аккаунт
  </button>
</div>
