<div class="aboutus-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="aboutus">
          <h2 class="aboutus-title">О нас</h2>
          <p class="aboutus-text">Мы - процветающая компания по разработке различного программного обеспечения для самых разных платформ, названия которых вы вовсе могли не слышать.</p>
          <p class="aboutus-text">На нашем счету уже очень большой список разработанных и успешно проданных программ. Так же мы занимаемся поддержкой старого ПО и тестированием нового.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="feature">
          <div class="feature-box">
            <div class="clearfix">
              <div class="feature-content">
                <h4>ПО наше всё</h4>
                <p>Действительно, написание программного обеспечения является неотъемлемой частью современной жизни и жизни любого программиста в частности, будь то разработчик или бизнес-аналитик.</p>
              </div>
            </div>
          </div>
          <div class="feature-box">
            <div class="clearfix">
              <div class="feature-content">
                <h4>Зачем нужно это приложение?</h4>
                <p>Данным приложением мы хотим убедить вас, что многое не так тяжело, как кажется, и не так легко, как хотелось бы.</p>
              </div>
            </div>
          </div>
          <div class="feature-box">
            <div class="clearfix">
              <div class="feature-content">
                <h4>Подробности</h4>
                <p>Если вы хотите узнать побольше о нашей организации, просто спросите меня. Я бываю здесь каждые вторник и четверг, так что в эти дни - я к вашим услугам!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
