<div class="container w-75">
  <div class="text-center">
    <div class="card mt-3 position-relative justify-content-center align-content-center"
         *ngFor="let subscript of subscripts">
      <div class="card-title">
        <h5>{{subscript.name}}</h5>
      </div>

      <img [src]="subscript.imagePath ? 'http://localhost:4200/api/subscripts/image/' + subscript.imagePath : 'http://placehold.it/780x450?text=Здесь+могло+быть+ваше+изображение'"
           class="img-fluid" alt="Responsive image">
      <div class="card-body position-absolute w-100">

        <p class="card-text">{{subscript.description}}</p>

        <button *ngIf="authorizedUser.role == 'User' && !checkSubscript(subscript)"
                (click)="openModalSubscript(toSubscript, subscript)"
                class="btn btn-primary btn-hide">Подписаться
        </button>
        <p class="card-text already-subscribe"
           *ngIf="authorizedUser.role == 'User' && checkSubscript(subscript)">Вы уже подписаны
          на этот ресурс!</p>
        <button *ngIf="authorizedUser.role == 'Admin'"
                (click)="openModalSubscript(editSubscript, subscript)" class="btn btn-primary btn-hide">Редактировать
        </button>
        <button *ngIf="authorizedUser.role == 'Admin'"
                (click)="deleteSubscript(subscript)" class="btn btn-danger btn-hide">Удалить
        </button>
        <p class="card-text mt-1">{{subscript.price}} RUB / {{subscript.period}} д.</p>
      </div>
    </div>
  </div>
</div>

<ng-template #toSubscript>
  <app-to-subscript [authorizedUser]="authorizedUser" [selectedSubscript]="selectedSubscript"></app-to-subscript>
</ng-template>

<ng-template #editSubscript>
  <app-edit-subscript (onChanged)="onChanged()" [selectedSubscript]="selectedSubscript"></app-edit-subscript>
</ng-template>


