<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="responsive-menu">
    <ul class="navbar-nav mr-auto w-100 justify-content-center align-content-center text-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="jumbotron"
           routerLinkActive="myActive">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="subscripts"
           routerLinkActive="myActive">Подписки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authorizedUser.role == 'User'" routerLink="billing-accounts"
           routerLinkActive="myActive">Биллинг аккаунты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isRole()" routerLink="profile"
           routerLinkActive="myActive">Профиль</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authorizedUser.role == 'Admin'" routerLink="users"
           routerLinkActive="myActive">Пользователи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about"
           routerLinkActive="myActive">О нас</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!isRole()">
      <li class="nav-item">
        <button class="btn btn-outline-primary"
                (click)="modalService.openModal(auth_template)">Войти
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-secondary ml-3"
                (click)="modalService.openModal(reg_template)">Регистрация
        </button>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isRole()">
      <li class="nav-item mr-3">
        <h6 class="nav-link">{{authorizedUser.login}}</h6>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="profile">
          <img [src]="authorizedUser.imagePath ? 'http://localhost:4200/api/users/image/' + authorizedUser.imagePath :'http://placehold.it/35x35'" class="rounded-circle">
        </a>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-primary nav-link" (click)="outFromAccount()" routerLink="subscripts">Выйти</button>
      </li>
    </ul>


  </div>
</nav>

<ng-template #auth_template>
  <app-authorization></app-authorization>
</ng-template>

<ng-template #reg_template>
  <app-registration></app-registration>
</ng-template>
