<div class="modal-header">
  <h4 class="modal-title pull-left">Добавить новую подписку</h4>
  <button type="button" class="close pull-right"
          aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group justify-content-center">
    <label for="form1" class="mt-1">Название подписки:</label>
    <input type="text" id="form1" class="form-control mt-1" name="name" [(ngModel)]="selectedSubscript.name"
           #name="ngModel" required>
    <div [hidden]="name.untouched || name.valid" class="alert alert-danger">
      Вы ввели неверное название
    </div>
    <label for="form2" class="mt-1">Описание:</label>
    <textarea class="form-control mt-1" id="form2" rows="3" name="description"
              [(ngModel)]="selectedSubscript.description"
              #description="ngModel" required></textarea>
    <div [hidden]="description.untouched || description.valid" class="alert alert-danger">
      Вы ввели неверное описание
    </div>
    <label for="form3" class="mt-1">Плата:</label>
    <input type="number" id="form3" class="form-control mt-1" name="price"
           [(ngModel)]="selectedSubscript.price"
           #price="ngModel" required pattern="[1-9]{1}[0-9]{0,6}">
    <div [hidden]="price.untouched || price.valid" class="alert alert-danger">
      Вы ввели неверное число или вовсе не число
    </div>
    <label for="form4" class="mt-1">Период:</label>
    <input type="number" id="form4" class="form-control mt-1" name="period"
           [(ngModel)]="selectedSubscript.period"
           #period="ngModel" required pattern="[1-9]{1}[0-9]{0,3}">
    <div [hidden]="period.untouched || period.valid" class="alert alert-danger">
      Вы ввели неверное число или вовсе не число
    </div>
    <label for="form5" class="mt-1">Изображение</label>
    <input type="file" id="form5" name="file" class="form-control mt-1" (change)="uploadImages($event)"/>
    <button class="btn btn-primary mt-3" [disabled]="name.invalid || description.invalid || price.invalid || period.invalid"
    (click)="createSubscript(selectedSubscript)">
      Добавить
    </button>
  </div>
</div>
